<div class="row">
    <div class="col-xs.12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photoProfile.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 cl-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Arquitecta recibida en la Universidad Católica de Santa Fe (UCSF), con Especialidad en Pericias y Tasaciones</p>
        </span>
    </div>
</div>
